@mixin buttoncode {
  background-color: #FD6F00;
  margin-left: 20px;
  color: white;
  height: fit-content;
  border-style: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#image1 {
  height: 50px;
  width: 180px;
  object-fit: contain;
  margin-right: 290px;
}

.navbar-brand {
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

#btn1 {
  @include buttoncode;
  margin-right: 2rem;
  margin-bottom: 10px;
  max-height: 5rem;
  min-width: 8rem;


}

#button2 {
  @include buttoncode;
  margin-left: 10px;
}

#Hero {
  margin-left: 90px;
  margin-top: 65px;
}

#designer {
  margin-left: 100px;
}

#name {
  color: #FD6F00;
}

#text {
  font-style: bolder;
  font-weight: 700;
  font-family: 'Poppins';
  font-size: 48px;
  width: 484px;
  height: 120px;
  color: #000000;
}

h1 {
  font-weight: 900;
}

#image-hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .image2 {
    display: flex;
    position: relative;
    align-items: flex-end;
    border-radius: 50%;
  }

  img {
    object-fit: contain;
    height: 300px;
    width: 300px;
    object-fit: top;
    border-bottom: 50%;
    border-radius: 50%;
    margin-right: 200px;
    margin-top: 35px;
  }

}

#About {
  position: relative;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #image3 {
    border-radius: 50%;

  }

  img {
    object-fit: contain;
    height: 275px;
    width: 281px;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 80px;
    margin-bottom: 100px;
  }

}

.skill-bar {
  margin-bottom: 20px;

  h4 {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .progress-container {
    background-color: #edecec;
    height: 12px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .progress-fill {
    background: #FD6F00;
    height: 100%;
    border-radius: 10px;
    position: relative;

    .circle {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 4px solid orange;
      border-radius: 50%;
    }
  }
}

.btn {
  border: 1px solid black !important;
  color: black !important;
  background-color: #f8f8f8;

}

.btn:hover {
  background-color: #FD6F00 !important;
}